/*  RESET   */
*{
    font-size: 1em;
    font-weight: 300;
    font-family: 'Quicksand';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 8px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    border: 1px solid white
}

body{
    font-size: 16px;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: black;
    height: 6.25em;
    z-index: 2;
}
a{text-decoration: none !important; color: black;}
a:hover{cursor: pointer;}
ul{list-style: none;}
/*  CABEÇALHO  */
.logo{
    float: left;
    max-width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    width: 20%;
}

.links:hover{
    animation: borderBot 0.3s linear;
    animation-fill-mode: forwards;
}

.bg-menu{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0.5px;
}

.menu{
    position: relative;
    margin-top: 1em;
}

.botoes{
    background: none;
}

.botoes{
    color: white;
    font-size: 2.5em;
    margin-left: calc((300px - 2.5em)/3);
}

.botoes:hover{
    text-shadow: 0 0 5px white;
    color: white;
}

/*  SOCIAIS  */
.sociais{
    max-width: 400px;
    margin-left: 15%;
    margin-top: calc((6.25em - 2.5em) / 2)
}


/*  TÍTULO  */
.titulo{ 
    font-size: 2em;
    font-family: 'Tangerine';
}

.divLogin{
    margin-left: 6em;
    text-align: center;
    position: relative;
    font-size: 2em;
}

.divLogin > a{
    max-width: max-content;
}

/*  FOTO SALAO  */
.fotoSalao{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    filter: brightness(20%);
    
}

.tudo{
    height: 85vh;
    margin-top: 15vh;
}

.containImg{
    position: relative;
    width: 100%;
    text-align: center;

}

.imgText{
    position: absolute;
    color:#fff;
    text-align: center;
    top: 200px;
    width: 100%;
    text-align: center;
}

.frase{
    animation: pisca 8s linear infinite;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}

/*  RELOGIO   */
.horario{
    text-align: center;
}
.clock{
    font-size: 0.8em;
    padding-right: 1em;
}
.info{
    margin-top: 1em;
    font-family: Tangerine;
    font-size: 3em;
}

.toAnimate .anime{
    opacity: 0;
    transform: translate3D(0px, 10px, 0px);
    transition: .5s all ease;
}

.toAnimate .animated{
    opacity: 1;
    transform: translate3D(0px, 0px, 0px);
    transition: .5s all ease;
}

.seccions{
    margin-top: 5vh;
    height: 60vh;
}

.histImg{
    float: left;
    border-radius: 7px;
    max-width: 150px;
}

.map{
    width: 100%;
    height: 40vh;
}

.fotos
{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.fotos tr {
    border: 1px solid black;
}

.fotos tr td {
    border: 1px solid black;
}

.fotos tr td img{
    max-height: calc(100%);
    width: calc(100%);
}

@keyframes borderBot{
    0%{
        border-bottom: 0px;
    }
    100%{
        border-bottom: 1px solid white;
    }
}

@keyframes pisca{
    0% {
        color: rgba(255, 255, 255, 1);
    }

    50% {
        color: rgba(255, 255, 255, 0);

    }
    
    100%{
        color: rgba(255, 255, 255, 1);
    }
}

@media screen and (max-width: 625px ){
    .botoes{
        margin-left: 1em;
    }
    .navigator{
        margin-right: 2em;
    }
}